{% block suggested-users %}
        <div class="row">
            <div class="suggested-Users col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Suggested Users:</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for user in suggested_users %}
                                <a href="#">
                                    <li>
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <div class="row-picture">
                                                    <img class="circle" src="{{user.profile_picture.url}}" alt="icon">
                                                </div>
                                                <div class="row-content">
                                                    <h4 class="list-group-item-heading">{{user.display_name}}</h4>
                                                    <!--<p class="list-group-item-text">A nostalgic animation!</p>-->
                                                    <a href="javascript:void(0)" class="btn btn-info follow" identifier="user-{{user.id}}">Follow</a>
                                                </div>
                                            </div>
                                            <div class="list-group-separator"></div>
                                        </div>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}